### Задание 1

In [195]:
import pandas as pd

In [196]:
vl = pd.read_csv("visit_log.csv", sep=";")

In [197]:
vl.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email

In [198]:
vl_res = vl.copy()

vl_res["source_type"] = vl_res["traffic_source"]
filter_condition = (vl_res["traffic_source"].str.lower() == "paid") | (
    vl_res["traffic_source"].str.lower() == "email"
)
vl_res.loc[
    (vl_res["traffic_source"].str.lower() == "yandex")
    | (vl_res["traffic_source"].str.lower() == "google"),
    "source_type",
] = "organic"
vl_res.loc[
    filter_condition & (vl_res["region"] == "Russia"),
    "source_type",
] = "ad"
vl_res.loc[
    filter_condition & (vl_res["region"] != "Russia"),
    "source_type",
] = "other"

vl_res.tail(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18928,1550094255,c7e4bce62a,https://host.ru/8880fd00cf23066541,Australia,e721d23ec6,yandex,organic
18929,1550094260,39aeec73f8,https://host.ru/ee7c4e0674a284ee3f,Russia,9c832cf9d4,direct,direct
18930,1550094269,f1b4590410,https://host.ru/a5dda93e70318570c0,Russia,7f59a1e6a7,direct,direct
18931,1550094269,a7e2dfd759,https://host.ru/ef57543002ce2a0f2a,Belarus,04fec64cda,direct,direct
18932,1550094280,5001544772,https://host.ru/9f90e5c423a5f976d4,Russia,072148e3ba,google,organic
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

### Задание 2

In [199]:
urls_data = pd.read_csv("URLs.txt")
urls_data.loc[urls_data["url"].str.contains("/\d{8}-")].head(10)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

### Задание 3

In [200]:
ratings_data = pd.read_csv("ratings.csv")

ratings_data.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [201]:
res = (
    ratings_data.groupby("userId")
    .filter(lambda x: x["timestamp"].count() > 100)
    .groupby("userId")
    .agg(
        {
            "timestamp": lambda x: max(x) - min(x),
        }
    )
    .reset_index()
    .rename(columns={"timestamp": "time_diff"})
)
res.head(10)

   userId  time_diff
0       4     203560
1       8      85187
2      15  471393496
3      17       8053
4      19       5282
5      21    1365432
6      22      91491
7      23   18342129
8      26   20267261
9      30  115852276

In [202]:
res["time_diff"].mean()

40080507.4496124

### Задание 4

In [203]:
rzd = pd.DataFrame(
    {
        "client_id": [111, 112, 113, 114, 115],
        "rzd_revenue": [1093, 2810, 10283, 5774, 981],
    }
)
auto = pd.DataFrame(
    {"client_id": [113, 114, 115, 116, 117], "auto_revenue": [57483, 83, 912, 4834, 98]}
)
air = pd.DataFrame({"client_id": [115, 116, 117, 118], "air_revenue": [81, 4, 13, 173]})
client_base = pd.DataFrame(
    {
        "client_id": [111, 112, 113, 114, 115, 116, 117, 118],
        "address": [
            "Комсомольская 4",
            "Энтузиастов 8а",
            "Левобережная 1а",
            "Мира 14",
            "ЗЖБИиДК 1",
            "Строителей 18",
            "Панфиловская 33",
            "Мастеркова 4",
        ],
    }
)

In [204]:
d1 = rzd.merge(auto, how="outer", left_on="client_id", right_on="client_id")
d2 = d1.merge(air, how="outer", left_on="client_id", right_on="client_id")
d2.fillna(0, inplace=True)
d2

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [205]:
res = client_base.merge(d2, how="outer", left_on="client_id", right_on="client_id")
res

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           0.0          0.0
1        112   Энтузиастов 8а       2810.0           0.0          0.0
2        113  Левобережная 1а      10283.0       57483.0          0.0
3        114          Мира 14       5774.0          83.0          0.0
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          0.0        4834.0          4.0
6        117  Панфиловская 33          0.0          98.0         13.0
7        118     Мастеркова 4          0.0           0.0        173.0